.presentation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation-container img {
    margin: 5rem 0;
}

.presentation-container p {
    margin: 5rem 0;
    text-align: center;
    max-width: 80%;
}
