.hamburger-icon {
    display: none;
}

@media (max-width: 850px) {
    .hamburger-icon {
        position: fixed;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        background: none;
        z-index: 1;
    }

    .hamburger-icon .sandwich {
        position: absolute;
        left: 0;
        width: 30px;
        height: 3px;
        margin: 2rem;
        background-color: black;
        border-radius: 5px;
    }

    .sandwich::after,
    .sandwich::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        width: 30px;
        height: 3px;
        background: black;
        border-radius: 5px;
    }
    .sandwich::after {
        transform: translateY(0.5rem);
    }

    .sandwich::before {
        transform: translateY(-0.5rem);
    }
}
