header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
}

@media (max-width: 550px) {
    header,
    nav {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .primary-navigation {
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }

    .primary-navigation[data-visible="false"] {
        transform: translateY(-100%);
    }

    .primary-navigation[data-visbile="true"] {
        transform: translateY(0%);
    }

    header {
        position: fixed;
        inset: 0 0 20% 0;
        background-color: lightcyan;
    }
    nav {
        padding: 5rem 2rem;
    }
}

nav {
    display: flex;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    position: relative;
}

nav a::before {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: black;
    transition-property: left width;
    transition-duration: 0.2s;
}

nav a:focus::before {
    width: 100%;
    left: 0;
}
