.business-partner-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5rem;
}

.business-partner-container img {
    width: 50%;
    margin-bottom: 1rem;
}

.business-partner-container p {
    font-size: 15px;
}
